doctype html
html
  head
    meta(charset='UTF-8')
    title= title

    base(href='/')

    - var cdn = '//maxcdn.bootstrapcdn.com'
    link(rel='stylesheet' href=cdn + '/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet'
      href=cdn + '/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/style.css')

  body(ng-controller='BodyCtrl')
    #header.navbar.navbar-default(ng-switch on='authenticated')
      include ./navbar.jade

    #content(ng-controller='ContentCtrl' ng-cloak)
      div(ng-switch on='page')
        .home-page(ng-switch-when='home')
          include ./home.jade

        .explore-page(ng-switch-when='explore')
          h2 Explore
          hr
          include ./projects.jade

        .create-page(ng-switch-when='create')
          h2 Create
          hr

        .build-page(ng-switch-when='build')
          h2 Build
          hr

        .settings-page(ng-switch-when='settings')
          h2 Settings
          hr

        .user-page(ng-switch-when='user')
          include ./user.jade

        .project-page(ng-switch-when='project')
          include ./project.jade

        .settings-page(ng-switch-when='404')
          h2 Page not found

    #dialogs
      include ./register.jade

    - var cdn = '//cdnjs.cloudflare.com/ajax/libs'
    script(src=cdn + '/jquery/1.11.1/jquery.js')
    script(src=cdn + '/angular.js/1.3.0/angular.js')
    script(src=cdn + '/angular.js/1.3.0/angular-route.js')
    script(src=cdn + '/angular.js/1.3.0/angular-cookies.js')
    script(src=cdn + '/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js')

    script(src='js/modernizr.custom.js')
    script(src='js/dropzone.js')
    script(src='js/main.js')

